.main {
  // margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  // margin: 80px;
  min-height: 100vh;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  padding-left: 40px;
  color: black;
}

.profileLogo {
  height: 60px;
  width: auto;
}
