.main {
  display: flex;
  flex-direction: row;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h5 {
    font-size: 16px;
    align-self: center;
    width: 85%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    text-align: center;
    color: black;
  }
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(228, 228, 228, 0.274);
  padding: 30px;
}
